<div>
	<h1>Music Library: Administration</h1>
	<p>Welcome to the Music Library Administration Area. Select a link below to manage the database information</p>

	<%= link_to 'Manage Artists', artists_path %><br>
	<%= link_to 'Manage Albums', albums_path %><br>
	<%= link_to 'Manage Users', users_path %><br>


</div>s