.publicListTable{
	width:800px;
	border-collapse:collapse; 
}
.publicListAlbumInfo{
	font-size:12px;
}
.publicListAlbumInfo.bold{
	font-weight: bold;
	font-size: 14px;
} 
.showCartArtistName{
	font-size: 12px;
	font-weight: bold;
}

#emptyCart{
	margin-left: 38%;
	color: purple;
}