<% @page_title = "Your cart" %>
<h1>Music Library Store</h1>

<%= render 'cart' %>



<%= button_to 'Continue Shopping', public_list_path, class: "btn btn-primary", :method => 'get' %>
<%= button_to 'Empty Cart', public_empty_cart_path, class: 'btn btn-danger', :method => 'get', :confirm => 'Are you sure?' %>
<%= button_to 'Checkout', public_checkout_path, class: 'btn btn-success', :method => 'get' %>